/**
 * Breakpoints variables declaration.
 * Defines the breakpoints for the mediaqueies.
 */

$phone-lg: '(min-width: 420px)';
$tablet: '(min-width: 768px)';
$laptop: '(min-width: 1024px)';
$desktop: '(min-width: 1300px)';