/**
 * Mixin for button declaration.
 * Defines the basic styles for primary button look
 */
 
//  @mixin button($font-family, $padding, $backgroud-color) {
//     font-family: 'Montserrat', sans-serif;$font-family
//     padding: $padding;
//     border: 1px solid $colorCuriousBlue;
//     color: $colorCuriousBlue;
//     border-radius: 50%;
// }

@import '_colors';

.button {
    font-family: $main-font-family;
    font-size: 1rem;
    padding: 0.5rem 3rem;
    border: 1px solid $colorBlack;
    color: $colorBlack;
    border-radius: 6px;
    background-color: $colorMystic;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 6px 9px 25px -5px $colorDustyGray;
    transition: background-color 200ms ease-out;
    position: relative;

    &:hover {
        background-color: darken($colorMystic, 10%);
    }

    &::after {
        content: '\203A';
        font-size: 1.5rem;
        margin-left: 0.5rem;
        position: absolute;
        top: 1px;
        right: 15px;
        transition: opacity 200ms ease-out;
    }
}