/**
 * Color variables declaration.
 * The naming convention is based on: 
 * http://chir.ag/projects/name-that-color
 */

$colorBlack: #000000;
$colorWhite: #ffffff;
$colorCornflowerLila: #ffa6af;
$colorPastelPink: #ffced3;
$colorShadyLady: #a69ca6;
$colorPeachCream: #ffece0;
$colorMystic: #dfe7ec;