@import '_breakpoints';
@import '_colors';

.main-menu {

    @media #{$laptop} {
        display: flex;
    }
  
    &__list {
        list-style: none;
  
        @media #{$laptop} {
            display: flex;
        }
    }
  
    &__list-item {
        padding: 0.5rem 0;
    
        @media #{$laptop} {
            display: inline-block;
            margin-right: 1rem;
    
            &:last-child {
                margin-right: 0;
            }
        }
    }
  
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        color: $colorBlack;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 0%;
            height: 2px;
            background-color: $colorCornflowerLila;
            transition: width 300ms ease;
            transition-delay: 100ms;
        }

          
        @media #{$laptop} {
            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }

        &:visited, 
        &:active {
            color: $colorBlack;
        }
    }
}