@import '_breakpoints';
@import '_colors';
@import '_utils.scss';

.main-menu {
    position: absolute;
    background-color: $colorWhite;
    left: 0;
    padding: 1rem;
    width: 80%;
    height: 100vh;
    transform: translate(-100%);
    transition: transform 300ms ease-in-out;

    &--active {
        transform: translate(0);
    }

    @media #{$tablet} {
        width: 60%;
    }

    @media #{$laptop} {
        display: flex;
        position: static;
        padding: 0;
        height: auto;
        width: auto;
        transform: unset;
    }
  
    &__list {
        list-style: none;
        padding: 0;
        margin-top: 0;
  
        @media #{$laptop} {
            display: flex;
            margin-top: 1rem;
        }
    }
  
    &__list-item {
        padding: 0.5rem 0;
        font-size: 1.5rem;
    
        @media #{$laptop} {
            display: inline-block;
            margin-right: 1rem;
            font-size: 1rem;
    
            &:last-child {
                margin-right: 0;
            }
        }
    }
  
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        color: $colorBlack;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 0%;
            height: 2px;
            background-color: $colorCornflowerLila;
            transition: width 300ms ease;
            transition-delay: 100ms;
        }

          
        @media #{$laptop} {
            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }

        &:visited, 
        &:active {
            color: $colorBlack;
        }
    }
}