@import '_breakpoints';
@import '_colors';
@import '_utils';

.main-header {
    display: none;

    z-index: 100;
    position: fixed;
    width: 70%;
    background-color: $colorWhite;
    box-shadow: $shadow-main-menu;
  
    @media #{$laptop} {
        width: 100%;
        display: flex;
    }

    &--active {
        display: flex;
    }
}