@import '_breakpoints';
@import '_colors';

.usps {
    &__headline {
        font-size: 2rem;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__wrapper {
        @media #{$tablet} {
            flex: 0 0 30%;
        }

        @media #{$desktop} {
            flex: 1 0 12%;
        }
    }
  
    &__icon {
        max-height: 100px;
    }
}