/**
 * Import fonts varables
 */

@import '_fonts';

/**
 * Box sizing declaration for the whole document
 */

 html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: $main-font-family;
}

/**
 * Import all component's styles
 */

@import '_button';
@import '_container';
@import '_hero';
@import '_footer';
@import '_hamburger';
@import '_hero';
@import '_input';
@import '_logo';
@import '_main-header';
@import '_main-menu';
@import '_newsletter';
@import '_teasers';
@import '_usps';
@import '_utils';