@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:400,400i');

// color variables that are created based on 
// http://chir.ag/projects/name-that-color

$colorBlack: #000000;
$colorWhite: #ffffff;
$colorAquaIsland: #acd1db;
$colorBizarre: #edddde;
$colorGeyser: #d7dde6;
$colorPicasso: #ffec90;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding: 0 5vw;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.hero {
  width: 100vw;
  height: 100vh;
  background: center no-repeat url(../images/hero-image.jpg);
  background-size: cover;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  &__headline {
    font-size: 6vmax;
    margin: 0;
    margin-bottom: 1rem;
  }

  &__lead {
    font-size: 3vmax;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

.main-header {
  position: fixed;
  width: 100%;
  background-color: $colorWhite;
  box-shadow: 0px 5px 28px -2px rgba(166,156,166,1);
}

.main-menu {
  &__list {
    list-style: none;
  }

  &__list-item {
    // display: inline;
    padding: 0.5rem 0;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: black;

    &:visited, 
    &:active {
      color: balck;
    }
  }
}
