@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:400,400i');
@import '_container';
@import '_hero';
@import '_footer';
@import '_hamburger';
@import '_hero';
@import '_logo';
@import '_main-header';
@import '_main-menu';
@import '_newsletter';
@import '_teasers';
@import '_usps';
@import '_utils';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}